.travel-home{
    .travel-text{
        text-align:center;
        p{
            color:#7EA0FF;
            font-size:16px;
            font-weight:400;
            margin-bottom:10px;
            letter-spacing:1px;
        }
        h1{
            font-size:50px;
            font-weight:700;
            line-height:1.4;
            margin-bottom:22px;
        }
    }
}