.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar .nav-list ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .nav-list ul li {
  position: relative;
  margin-left: 30px;
  font-family: "Josefin Sans",sans-serif;
  color: var(--color-tag);
  font-weight: 500;
  font-size: 16px;
  transition: all .3s ease-out 0s;
  cursor: pointer;
}

.navbar .nav-list ul li:hover::after {
  width: 100%;
}

.navbar .nav-list ul li:hover {
  color: var(--color-blue);
}

.navbar .nav-list ul li::after {
  content: "";
  position: absolute;
  width: 0;
  bottom: -5px;
  left: -1px;
  height: 2px;
  z-index: 1;
  transition: all .4s ease-out 0s;
  background: #7EA0FF;
  background-color: var(--color-blue);
}

.navbar .nav-list ul .call {
  color: var(--color-white);
  background: var(--color-yellow);
  padding: 13px 30px;
  border-radius: 5px;
}
