
.aboutus-section{
    display:flex;   
    justify-content: space-evenly;
    align-items:center;
}
.aboutus-section .aboutus-text{
        max-width:41.666667%;
}
.aboutus-section .aboutus-text  h2{
    color: #7EA0FF;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    text-transform: capitalize;
    display: inline-block;
    letter-spacing: 0.05em;
}
.aboutus-section .aboutus-text h1{
            font-size: 50px;
            display: block;
            font-weight: 700;
            line-height: 1.4;
            margin-bottom: 22px;
            color:#00095E;
        }
.aboutus-section .aboutus-text p{
            font-size: 18px;
            font-weight: 400;
            line-height: 1.8;
            color:var(--color-gray);
        }
.aboutus-section .aboutus-text button{
            margin-top:150px;
            background: #FFC800;
            font-family: "Roboto",sans-serif;
            text-transform: inherit !important;
            padding: 30px 43px;
            color: #fff !important;
            cursor: pointer;
            display: inline-block;
            font-size: 16px !important;
            font-weight: 500 !important;
            border-radius: 5px;
            line-height: 1;
            line-height: 0;
            cursor: pointer;
            transition: color 0.4s linear;
            position: relative;
            z-index: 1;
            border: 0;
            overflow: hidden;
}
.about-image img{
        width:700px;
    }
