@mixin display-flex{
    display:flex;
    justify-content: space-between;
}
@mixin display-center{
    display:flex;
    justify-content: center;
    align-items:center;
}

@mixin flex{
    display:flex;
}